<!doctype html>
<html class="no-js" lang="en">
  {{ node.body.value|raw }}
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Page Title Here -->
  <title> {{ node.getTitle() }} </title>
</head>

<body id="menu" class="body-page">

  <!-- Page Loader -->
  <div class="page-loader" id="page-loader">
    <div id="lottie"></div>
  </div>
  <!-- BEGIN OF site header Menu -->
  <!-- BEGIN OF site header Menu -->
  {% include directory ~ '/partials/header.html.twig' %}
  <!-- END OF site header Menu-->
  <!-- BEGIN OF page cover -->
  <div class="page-cover">
  </div>
  <!--END OF page cover -->
  <!-- BEGIN OF page main content -->

  <main class="page-main main-anim scrollpage-container " id="mainpage">
    <!-- Begin of description section -->
    <div class="section content-white cover-margin" data-section="list-features">
      <div class="section-cover item-cover">
        <img class="img-block" src="./themes/custom/innosoft/img/headers/FAQ.jpeg" alt="cover">
      </div>
      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">

        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12">
             <div class="article article-light header-title">
                <div class="breadcrumb-cont">
                  <ol class="breadcrumb">
                    <div class="breadcrumb-cont">
                      <ol class="breadcrumb">
                        <li><a title="home" href="index.html">الرئيسية</a></li>
                      </ol>
                    </div>
                  </ol>
                </div>
                <h1 class="display-3">الأسئلة الشائعة</h1>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->

    <!-- Begin of article section -->
    <div class="section " data-section="list-features">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper with-margin">

        <!-- content -->
        <div class="section-content anim">
          <div id="accordion">
            <div class="row">

              <div class="col-md-12 col-12 pt-3  ">
                <div class="card">
                <h5 class="card-header mb-0 coll-icon" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ما هو "لوريم إيبسوم" ؟

                </h5>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                 <div class="card-body">
                  <p>
لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.                </p>

                </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12 pt-3  ">
              <div class="card">
                <h5 class="card-header mb-0 coll-icon collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ما أصله ؟

                </h5>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                     <div class="card-body">

                  <p>
خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم. قام البروفيسور "ريتشارد ماك لينتوك" (Richard McClintock) وهو بروفيسور اللغة اللاتينية في جامعة هامبدن-سيدني في فيرجينيا بالبحث عن أصول كلمة لاتينية غامضة في نص لوريم إيبسوم وهي "consectetur"، وخلال تتبعه لهذه الكلمة في الأدب اللاتيني اكتشف المصدر الغير قابل للشك.            </p>
                                                       </div>
                </div>
                </div>
              </div>

              <div class="col-md-12 col-12 pt-3  ">
                  <div class="card">
                <h5 class="card-header mb-0 coll-icon collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  أين أجده ؟
                </h5>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                  <p>
هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص.         </p>
                    </div>
                </div>
                </div>
              </div>
              <div class="col-md-12 col-12 pt-3  ">
              <div class="card">
                <h5 class="card-header mb-0 coll-icon collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  ما فائدته ؟
                </h5>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                       <div class="card-body">
                  <p>
هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء.               </p>
                </div></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of section wrapper -->
    </div>
    <!-- End of article section -->
      {% include directory ~ '/partials/footer.html.twig' %}
    </main>
  <!-- END OF page main content -->

  <script>
    $(function() {
      $("#header").load("header");
      $("#footer").load("footer");
    });
  </script>

</body>
</html>
